/*
 * Copyright (c) 2021 Casey Webster
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
		//zmk,matrix_transform = &default_transform;
		zmk,physical-layout = &tbkmini_physical_layout;
	};

	kscan0: kscan {
		//wakeup-source; ??
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";

		diode-direction = "row2col";
	};

	// TODO: RGB node(s)
};
